# Build output
.gradle
/build
/app/build
build/
captures
.externalNativeBuild
.cxx
.kotlin

# IDE
.idea/
*.iml

# Signing material
*.jks
*.keystore
/google-services.json

# Artifacts
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
.DS_Store
