.gradle
/build
/app/build
*.iml
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/caches
.idea/deploymentTargetSelector.xml
.idea/assetWizardSettings.xml
.idea/renderers.xml
.idea/kotlin_device_suggestions.xml
local.properties
.DS_Store
captures
.externalNativeBuild
.cxx
/google-services.json
.idea/modules/
.idea/navEditor.xml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
